@model IEnumerable<FundClear.Models.Fix_Product>

@{
    ViewBag.Title = "固收类产品列表";
}

<h2>固收类产品列表</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
@using (Html.BeginForm("Index"))
{
    <p>
        按产品名称筛选: @Html.TextBox("SearchString", null)
        <input type="submit" value="查找" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Borrower.融资方名字)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.产品名称)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.产品状态)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.存期月数)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.募集规模)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.付息方式)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.付息日)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Borrower.融资方名字)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.产品名称)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.产品状态)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.存期月数)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.募集规模)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.付息方式)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.付息日)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Product_id }) |
            @Html.ActionLink("详情", "Details", new { id=item.Product_id }) |
            @Html.ActionLink("客户进账明细表", "BatchContracts", new { id = item.Product_id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Product_id })
        </td>
    </tr>
}

</table>
