@model FundClear.Models.Fix_Prod_Batch

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <h4>固定收益产品批次详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.产品批次状态)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.产品批次状态)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fix_Product.产品名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fix_Product.产品名称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.批次名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.批次名称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.批次金额)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.批次金额)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.批次收益率)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.批次收益率)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.付息方式)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.付息方式)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.季末付息日)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.季末付息日)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.批次创建人)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.批次创建人)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.批次创建时间)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.批次创建时间)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.划款日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.划款日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.到期日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.到期日期)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Batch_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
