@model FundClear.Models.Investor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Investor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.性别)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.性别)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.生日)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.生日)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.证件号码)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.证件号码)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.证件类型)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.证件类型)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.电话)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.电话)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.电子邮件)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.电子邮件)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.加盟日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.加盟日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.本金开户行)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.本金开户行)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.本金账号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.本金账号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.本金户名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.本金户名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.收益开户行)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.收益开户行)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.收益账号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.收益账号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.收益户名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.收益户名)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Investor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
