@model PagedList.IPagedList<FundClear.Models.Investor>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>投资人列表</h2>

<div>
    @Html.ActionLink("新建", "Create")
    @using (Html.BeginForm("Index", "Investors", FormMethod.Get))
    {
    <p>    
        按姓名查找: @Html.TextBox("SearchString")
        <input type="submit" value="搜索" />
    </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            姓名
        </th>
        <th>
            性别
        </th>
        <th>
            生日
        </th>
        <th>
           证件号码
        </th>
        <th>
          证件类型
        </th>
        <th>
           电话
        </th>
        <th>
          电子邮件
        </th>
        <th>
           加盟日期
        </th>
        <th>
           地址
        </th>
        <th>
          本金开户行
        </th>
        <th>
          本金账号
        </th>
        <th>
           本金户名
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.性别)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.生日)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.证件号码)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.证件类型)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.电话)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.电子邮件)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.加盟日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.本金开户行)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.本金账号)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.本金户名)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id=item.Investor_id }) |
            @Html.ActionLink("详情", "Details", new { id=item.Investor_id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Investor_id })
        </td>
    </tr>
}

</table>
页面 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
