@model IEnumerable<FundClear.Models.Investor>

@{
    ViewBag.Title = "Index";
}

<h2>投资人列表</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.性别)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.生日)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.证件号码)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.证件类型)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.电话)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.电子邮件)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.加盟日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.开户银行)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.银行账号)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.银行户名)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.性别)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.生日)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.证件号码)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.证件类型)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.电话)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.电子邮件)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.加盟日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.开户银行)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.银行账号)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.银行户名)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Investor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Investor_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Investor_id })
        </td>
    </tr>
}

</table>
