@model FundClear.Models.Borrower

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Borrower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.借款方名字)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.借款方名字)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.借款方开户银行)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.借款方开户银行)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.借款方账户名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.借款方账户名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.借款方银行账号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.借款方银行账号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.借款方电话)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.借款方电话)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.借款方电邮)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.借款方电邮)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
