@model FundClear.Models.FOF_Contract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FOF_Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.合同状态)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.合同状态)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOF_Product.产品名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOF_Product.产品名称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investor.姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investor.姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Branch.分公司名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Branch.分公司名称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Person.理财师姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Person.理财师姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.购买金额)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.购买金额)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.购买份额)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.购买份额)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.赎回金额)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.赎回金额)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.投资人姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.投资人姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.投资人身份证号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.投资人身份证号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.投资人开户银行)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.投资人开户银行)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.投资人银行账号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.投资人银行账号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.投资人银行账户名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.投资人银行账户名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.购买日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.购买日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Input_person_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Input_person_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.录入时间)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.录入时间)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Audit_person_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Audit_person_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.审核时间)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.审核时间)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Contract_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
