@model FundClear.Models.Fix_Contract

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <h4>固收产品详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.合同状态)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.合同状态)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fix_Prod_Batch.批次名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fix_Prod_Batch.批次名称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fix_Product.产品名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fix_Product.产品名称)
        </dd>       

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Branch.分公司名称)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Branch.分公司名称)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Person.理财师姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Person.理财师姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.合同号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.合同号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.金额)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.金额)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.投资人姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.投资人姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.投资人身份证号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.投资人身份证号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.本金账户名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.本金账户名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.本金银行账号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.本金银行账号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.本金开户银行)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.本金开户银行)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.收益账户名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.收益账户名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.收益银行账号)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.收益银行账号)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.收益开户银行)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.收益开户银行)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.收益率)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.收益率)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.存款月数)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.存款月数)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.已付收益)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.已付收益)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.购买日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.购买日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.成立日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.成立日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Input_person_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Input_person_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.输入时间)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.输入时间)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Audit_person_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Audit_person_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.审计时间)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.审计时间)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.备注)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.备注)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Contract_id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
