@model PagedList.IPagedList<FundClear.Models.Sales_Branch>
@using PagedList.Mvc;
@{
    ViewBag.Title = "分公司列表";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function(){
    $("#btnSubmit").click(function () {
        var strFilter = "";
        if ($("#SearchString").val().trim() != "")
            strFilter += "&SearchString=" + escape($("#SearchString").val());
        location.href = "/Sales_Branch?page=1" + strFilter;
    });

    $("#btnExport").click(function () {
        if (confirm("是否导出所有分公司信息？"))
            $("#formSubmit").submit();
    });
    })
</script>

<h2>分公司/渠道列表</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
@using (Html.BeginForm("Export", "public", FormMethod.Post, new { id = "formSubmit" }))
{
    <p>
        按产品名称筛选: @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input type="hidden" name="type" value="Sales_Branch" />
        <input type="button" id="btnSubmit" value="查找" />
        <input type="button" id="btnExport" value="导出" />
    </p>
}
<table class="table">
    <tr>
        <th>
            分公司名称
        </th>
        <th>
            分公司地址
        </th>
        <th>
            电话
        </th>
        <th>
            联系人
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.分公司名称)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.分公司地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.电话)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.联系人)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.Branch_id, returnurl = @Request.Url }) |
            @Html.ActionLink("详情", "Details", new { id=item.Branch_id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Branch_id })
        </td>
    </tr>
}

</table>
页面 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, SearchString = ViewBag.SearchString }))