@model IEnumerable<FundClear.Models.Sales_Branch>

@{
    ViewBag.Title = "分公司列表";
}

<h2>分公司/渠道列表</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
@using (Html.BeginForm("Index"))
{
    <p>
        按产品名称筛选: @Html.TextBox("SearchString", null)
        <input type="submit" value="查找" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.分公司名称)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.分公司地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.电话)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.联系人)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.分公司名称)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.分公司地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.电话)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.联系人)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Branch_id }) |
            @Html.ActionLink("详情", "Details", new { id=item.Branch_id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Branch_id })
        </td>
    </tr>
}

</table>
